<div class="row" id="footer" >
	<hr>
	<div class="col-xs-6">
		<a href="http://iri.columbia.edu/">
			<img src="/static/img/IRI.png" class="center-block img-responsive" style="max-height: 50px">
		</a>
		
		<p class="texto_chico muted credit" >
			Eunjin Han, Ph.D. at IRI, Walter Baethgen, Ph.D. at IRI, Amor Ines, Ph.D. at Michigan State Univ. and IRI.
		</p>
	</div>
	<div class="col-xs-6">
		<a href="http://dssat.net/">
			<img src="/static/img/DSSAT.png" class="center-block img-responsive" style="max-height: 50px">
		</a>	
		<p class="texto_chico muted credit" >
			Hoogenboom, G., J.W. Jones, P.W. Wilkens, C.H. Porter, K.J. Boote, L.A. Hunt, U. Singh, J.L. Lizaso, J.W. White, O. Uryasev, F.S. Royce, R. Ogoshi, A.J. Gijsman, G.Y. Tsuji, and J. Koo. 2012. 
			Decision Support System for Agrotechnology Transfer (DSSAT) Version 4.6. University of Hawaii, Honolulu, Hawaii.
			Jones, J.W., G. Hoogenboom, C.H. Porter, K.J. Boote, W.D. Batchelor, L.A. Hunt, P.W. Wilkens, U. Singh, A.J. Gijsman, and J.T. Ritchie. 2003. DSSAT Cropping System Model. European Journal of Agronomy 18:235-265.
		</p>
	</div>			
</div>	