<div class="page-header row">		
	<div class="col-xs-2"> 
		<a title="LogoSnia" href="http://snia.gub.uy/" target="_blank"><img src="/static/img/logoSNIA.png" alt="LogoSnia" class="img-responsive"></a>
	</div>		
	<div class="col-xs-8 text-center">
		<a href = './' target="_blank">
			<div id='headTitulo'> Simulador de Cultivo </div>
			<h2>adlasnkd</h2>
		</a> 
	</div>			
	<div class="col-xs-2">
		<ul class="nav">
			<li><a style="color: #848688; font-size: 16px;" href="http://snia.gub.uy/contacto-5/contacto-72?,,mnu-e-55-3-mnu-" target="_blank"><span class="glyphicon glyphicon-envelope"></span>Contacto</a></li>
		</ul>
	</div>			   
</div>

<style>
	#headTitulo{
		color: #848688;
		font-size: 31.5px;		
		font-family: inherit;
	    font-weight: bold;
    	line-height: 40px;
    	text-rendering: optimizelegibility;
	}

    @media only screen and (max-width: 420px) {
		#headTitulo{			
			font-size: 18px;			
		}
	}
</style>