{% load staticfiles %}
<html>
	
<head>
	<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Modelo de Simulación de Cultivos </title>
	
	<!--JQuery-->	
	<script src="{% static 'lib/jquery-3.1.0/jquery-3.1.0.min.js' %}"></script>
	
	<!--Boostrap-->
	<link rel="stylesheet" href="{% static 'lib/bootstrap-3.3.7/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'lib/bootstrap-3.3.7/css/bootstrap-theme.min.css' %}">	
	<script src="{% static 'lib/bootstrap-3.3.7/js/bootstrap.min.js' %}"></script>
	
	<!--Simulacion-->
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<script type="text/javascript" src="{% static 'js/scriptEstilos.js' %}"></script>
	
	<!--Pasar estos si se usan local-->
	<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'lib/bootstrap-datetimepicker-0.0.11/css/bootstrap-datetimepicker.min.css' %}">	
	<script type="text/javascript" src="{% static 'lib/bootstrap-datetimepicker-0.0.11/js/bootstrap-datetimepicker.min.js' %}"> </script>	
	<script type="text/javascript" src="{% static 'lib/bootstrap-datetimepicker-0.0.11/js/bootstrap-datetimepicker.pt-BR.js' %}">  </script>
	<script type="text/javascript" src="{% static 'lib/jquery-validation-1.15.0/jquery.validate.min.js' %}">  </script>	
	
</head>	
<body>	

<script>	
	//Variables globales
	var cultivos = [];
	var estaciones = [];
	var escenarios = [];
	var escenariosCookie = [];
	
	function cargarEstaciones(){
		{% for estacion in estaciones %}
			var estacion = {
				nombre: "{{ estacion.nombre }}",
				valor: "{{ estacion.valor }}",
				etiqueta: "{{ estacion.etiqueta }}",
				desde: "{{ estacion.desde }}",
				hasta: "{{ estacion.hasta }}"
			}
			estaciones.push(estacion);			
		{% endfor %}
	};
	
	function changeEstacion() {
		var desdeAnio = document.getElementById("desdeAnio");	
		var hastaAnio = document.getElementById("hastaAnio");		
		var selectEstacion = document.getElementById("selectEstacion");		
		desdeAnio.value = estaciones[selectEstacion.selectedIndex].desde;
		hastaAnio.value = estaciones[selectEstacion.selectedIndex].hasta;			
	};
	
	function cargarDetallesCultivos(){			
		{% for cultivo in cultivos %}
			var cultivo = {
				nombre: "{{cultivo.nombre}}",
				suelos: 
					[
						
						{% for suelo in cultivo.suelos.all %}
							{
								nombre: "{{suelo.nombre}}",
								etiqueta: "{{suelo.etiqueta}}",
								valor: "{{suelo.valor}}"
							},
						{% endfor %}						
					],						
				tipo_cultivares: 
					[
						{% for tipo_cultivar in cultivo.tipo_cultivares.all %}
							{
								nombre:"{{tipo_cultivar.nombre}}",
								etiqueta:"{{tipo_cultivar.etiqueta}}",
								valor: "{{tipo_cultivar.valor}}"
							},
						{% endfor %}
					],
				h2os: 
					[
						{% for h2o in cultivo.h2os.all %}
							{
								nombre:"{{h2o.nombre}}",
								etiqueta:"{{h2o.etiqueta}}",
								valor:"{{h2o.valor}}"
							},
						{% endfor %}
					],
				no3s: 
					[
						{% for no3 in cultivo.no3s.all %}
							{
								nombre:"{{no3.nombre}}",
								etiqueta:"{{no3.etiqueta}}",
								valor:"{{no3.valor}}"
							},
						{% endfor %}
					]				
			}			
			cultivos.push(cultivo);
		{% endfor %}		
	};		
	
	function cargarComboBoxDetalle(radio){
		var div = document.getElementById('detalleCultivo');	
		
		var no3Div = document.getElementById('NO3inicial');
		document.getElementById('cmbDetalleSuelo').options.length = 0;
		document.getElementById('cmbDetalleCultivar').options.length = 0;
		document.getElementById('cmbDetalleH20').options.length = 0;
		document.getElementById('cmbDetalleNO3').options.length = 0;
		
		if(radio.value === 'MZ'){
			valor =1;
			no3Div.style.display = 'block'; 
		}
		if(radio.value === 'SB'){
			valor = 0;
			no3Div.style.display = (no3Div.style.display == 'none') ? 'block' : 'none'; 
		}
			
		var cmbDetalleSuelo = document.getElementById("cmbDetalleSuelo");					
		for(i = 0; i < cultivos[valor].suelos.length; i++) {
			var option = document.createElement('option');
			option.text = cultivos[valor].suelos[i].etiqueta;
			option.value = cultivos[valor].suelos[i].valor;
			cmbDetalleSuelo.add(option);
		}
		
		var cmbDetalleCultivar = document.getElementById("cmbDetalleCultivar");					
		
		for(i = 0; i < cultivos[valor].tipo_cultivares.length; i++) {
			var option = document.createElement('option');
			option.text = cultivos[valor].tipo_cultivares[i].etiqueta;
			option.value = cultivos[valor].tipo_cultivares[i].valor;
			cmbDetalleCultivar.add(option);
		}
		var cmbDetalleH20 = document.getElementById("cmbDetalleH20");					
		for(i = 0; i < cultivos[valor].h2os.length; i++) {
			var option = document.createElement('option');
			option.text = cultivos[valor].h2os[i].etiqueta;
			option.value = cultivos[valor].h2os[i].valor;
			cmbDetalleH20.add(option);
		}	
		var cmbDetalleNO3 = document.getElementById("cmbDetalleNO3");					
		for(i = 0; i < cultivos[valor].no3s.length; i++) {
			var option = document.createElement('option');
			option.text = cultivos[valor].no3s[i].etiqueta;
			option.value = cultivos[valor].no3s[i].valor;
			cmbDetalleNO3.add(option);
		}
		if(radio.value === 'SB'){
			
			var option = document.createElement('option');
			option.text = "Por defecto Bajo";
			option.value = "B";
			cmbDetalleNO3.add(option);
		}
		if(radio.checked=== true){
			div.style.display = 'block';
		}	
	};
	
	/*function cargarRiego(){
		var cmbDetalleRiego = document.getElementById("cmbDetalleRiego");
		{% for riego in riegos %}
			var option = document.createElement('option');
			option.text = "{{riego.etiqueta}}";
			option.value = "{{riego.valor}}";
			cmbDetalleRiego.add(option);			
		{% endfor %}		
	};*/
	
	/*function cargarTipoFertilizantes(){
		var cmbFertilizacionTipo1 = document.getElementById("cmbFertilizacionTipo1");
		var cmbFertilizacionTipo2 = document.getElementById("cmbFertilizacionTipo2");
		{% for fertilizante in fertilizantes %}
			var option = document.createElement('option');
			option.text = "{{fertilizante.etiqueta}}";
			option.value = "{{fertilizante.valor}}";
			cmbFertilizacionTipo1.add(option);
			var option = document.createElement('option');
			option.text = "{{fertilizante.etiqueta}}";
			option.value = "{{fertilizante.valor}}";			
			cmbFertilizacionTipo2.add(option);
		{% endfor %}		
	};
	
	function cargarAplicacionFertilizantes(){
		var cmbFertilizacionAplicacion1 = document.getElementById("cmbFertilizacionAplicacion1");
		var cmbFertilizacionAplicacion2 = document.getElementById("cmbFertilizacionAplicacion2");
		{% for aplicacion_f in aplicaciones %}
			var option = document.createElement('option');
			option.text = "{{aplicacion_f.etiqueta}}";
			option.value = "{{aplicacion_f.valor}}";
			cmbFertilizacionAplicacion1.add(option);
			var option = document.createElement('option');
			option.text = "{{aplicacion_f.etiqueta}}";
			option.value = "{{aplicacion_f.valor}}";						
			cmbFertilizacionAplicacion2.add(option);	
		{% endfor %}		
	};*/
	
	function agregarEscenarioPanel(){
		var table = document.getElementById("tablaEscenarios");
		var count = escenarios.length;	
	
		var row = table.insertRow(count);	
		var celdas = [];
		
		for (i=0; i<17; i++){
			var cell = row.insertCell(i);
			celdas.push(cell);
		}

		var i = 0;
		celdas[i].innerHTML = "<input type='text' name='estMeteorologica' value='" + escenarios[count-1].estacion + "'>";//escenarios[count-1].nombre;
		i++;
		celdas[i].innerHTML = "<input type='text' name='fInicioSim' value='" + escenarios[count-1].desdeAnioSimulacion + "'>";//escenarios[count-1].nombre;
		i++;
		celdas[i].innerHTML = "<input type='text' name='fFinSim' value='" + escenarios[count-1].hastaAnioSimulacion + "'>";//escenarios[count-1].nombre;
		i++;
		celdas[i].innerHTML = "<input type='text' name='cultivo' value='" + escenarios[count-1].cultivo.nombreCultivo + "'>";//escenarios[count-1].nombre;
		i++;
		celdas[i].innerHTML = "<input type='text' name='cultivoTSuelo' value='" + escenarios[count-1].cultivo.detalle.suelo + "'>";//escenarios[count-1].nombre;
		i++;
		celdas[i].innerHTML = "<input type='text' name='cultivoTCultivar' value='" + escenarios[count-1].cultivo.detalle.tCultivar + "'>";//escenarios[count-1].nombre;
		i++;
		celdas[i].innerHTML = "<input type='text' name='cultivoNHumedad' value='" + escenarios[count-1].cultivo.detalle.nHumedadd + "'>";//escenarios[count-1].nombre;
		i++;
		celdas[i].innerHTML = "<input type='text' name='cultivoNO3' value='" + escenarios[count-1].cultivo.detalle.no3 + "'>";//escenarios[count-1].nombre;
		i++;
		celdas[i].innerHTML = "<input type='text' name='cultivoFSiembra' value='" + escenarios[count-1].cultivo.detalle.fSiembra + "'>";//escenarios[count-1].nombre;
		i++;
		celdas[i].innerHTML = "<input type='text' name='fertilizacionSiembraDias' value='" + escenarios[count-1].fertilizacionSiembra.diasSiembra + "'>";//escenarios[count-1].nombre;
		i++;
		celdas[i].innerHTML = "<input type='text' name='fertilizacionSiembraCantidad' value='" + escenarios[count-1].fertilizacionSiembra.cantidad + "'>";//escenarios[count-1].nombre;
		i++;
		celdas[i].innerHTML = "<input type='text' name='fertilizacion1Dias' value='" + escenarios[count-1].fertilizaciones[0].diasSiembra + "'>";//escenarios[count-1].nombre;
		i++;
		celdas[i].innerHTML = "<input type='text' name='fertilizacion1Cantidad' value='" + escenarios[count-1].fertilizaciones[0].cantidad + "'>";//escenarios[count-1].nombre;
		i++;
		celdas[i].innerHTML = "<input type='text' name='fertilizacion2Dias' value='" + escenarios[count-1].fertilizaciones[1].diasSiembra + "'>";//escenarios[count-1].nombre;
		i++;
		celdas[i].innerHTML = "<input type='text' name='fertilizacion2Cantidad' value='" + escenarios[count-1].fertilizaciones[1].cantidad + "'>";//escenarios[count-1].nombre;
		i++;
		celdas[i].innerHTML = "<input type='text' name='riego' value='" + escenarios[count-1].riego + "'>";//escenarios[count-1].nombre;
		i++;
		celdas[i].innerHTML = "<input type='text' name='nombreEscenario' value='" + escenarios[count-1].nombre + "'>";//escenarios[count-1].nombre;	
	};
	
	function agregarEscenario(){
		var result = true;
		if(validaCamposVacios()===true){ //estan los dato ingresados correctamente
			for (var i=0;i< document.getElementsByName("cultivo").length; i++){
				if ( document.getElementsByName("cultivo")[i].checked ) {
					var ncultivo = (document.getElementsByName("cultivo")[i].value);
				}
			};	
			for (var i=0;i< document.getElementsByName("riego").length; i++){
				if ( document.getElementsByName("riego")[i].checked ) {
					var nriego = (document.getElementsByName("riego")[i].value);
				}
			};		
			var escenarioActual = {
				nombre: document.getElementsByName("nombreEscenario")[0].value,
				estacion: document.getElementById("selectEstacion").value,
				desdeAnioSimulacion: document.getElementById("desdeAnioSimulacion").value,
				hastaAnioSimulacion: document.getElementById("hastaAnioSimulacion").value,
				cultivo: {
					nombreCultivo: ncultivo,
					detalle: {
						suelo: document.getElementById("cmbDetalleSuelo").value,
						tCultivar: document.getElementById("cmbDetalleCultivar").value,
						nHumedadd: document.getElementById("cmbDetalleH20").value,
						no3: document.getElementById("cmbDetalleNO3").value,
						fSiembra: document.getElementsByName("fechaSiembra")[0].value
					}
				},
				fertilizacionSiembra: {
					diasSiembra: document.getElementsByName("diasDespuesSiembra")[0].value,
					cantidad: document.getElementsByName("cantidadFertilizante")[0].value
				},
				fertilizaciones: [
					{
						diasSiembra: document.getElementsByName("diasDespuesSiembra")[1].value,
						cantidad: document.getElementsByName("cantidadFertilizante")[1].value
					}, 
					{
						diasSiembra: document.getElementsByName("diasDespuesSiembra")[2].value,
						cantidad: document.getElementsByName("cantidadFertilizante")[2].value
					}
				],
				riego: nriego				
			};
			$("#msgErrores" ).html(" ");			
			escenarios.push(escenarioActual);
			agregarEscenarioPanel();
			agregarEscenarioNav();			
			result = true;
		}	
		else{
			$('body,html').animate({scrollTop : 0}, 500);
			result = false;
		}
		return result;
		
	};
	
	function btnAgregarEscenario(){
		agregarEscenario();
		$('#myModal').modal('show');	
	};
	
	
	function agregarEscenarioNav(){
	
		var divE = document.getElementById('navEscenarios');
		var errores = "";
		var anioDesdeNoVacio=parseInt($('#desdeAnioSimulacion').val().length) != 0;
		var anioHastaNoVacio=parseInt($('#hastaAnioSimulacion').val().length) != 0;
		var checkFertilizaSiembra =($('input[name=fertilizacion]:checked').attr('value')==='1');
		var checkFertilizaOtras1 =($('input[name=fertilizacionO]:checked').attr('value')==='1');
		var checkFertilizaOtras2 = ($('input[name=fertilizacionO]:checked').attr('value')==='2');
		var nombreEscenario = $('#inNombreEscenario').val(); 
		var cultivo="";
		var ciclo = document.getElementById("cmbDetalleCultivar").value;
		var cicloMostrar=ciclo;
		var riego ="";
		
		//control de errores   s
		
		//muestro div de escenarios
		divE.style.display = 'block';
		
		//fin - control de errores
		if($('input[name="riego"]:checked', '#rbRiego').val() ==='1'){
			riego = "Riego automático."
		}else{riego = "No riego."}
		
		if($('input[name="cultivo"]:checked', '#rdCultivo').val() ==='MZ'){
			cultivo = "Maiz"
			if(ciclo ==="UY0370"){cicloMostrar="Ciclo medio";}
			else{
				if(ciclo ==="UY0371"){cicloMostrar="Ciclo corto";}
				else{ if(ciclo ==="UY0372"){ cicloMostrar="Ciclo largo";} else{cicloMostrar="";}}
			}
			
		}else{
			cultivo = "Soja";
			if(ciclo ==="UY0141"){cicloMostrar="GM 4";}
			else{
				if(ciclo ==="UY0151"){cicloMostrar="GM 5";}
				else{ if(ciclo ==="UY0161"){ cicloMostrar="GM 6";} else{cicloMostrar="";}}
			}	
		}
		
		$("#accordion").append(
		"<div class=" + '"' +"panel panel-default col-xs-3" + '"' + "> " +
			"<div class=" + '"' + "panel-heading panelEscenarios" +'"' + ">" + 
			"<button class="+ '"'+"panel-title botonEscenario form-control"+'"'+"data-toggle="+'"'+"collapse"+'"'+"data-parent="+'"'+"#accordion" +'"'+"href="+'"'+"#collapse" +nombreEscenario +'"' +">Escenario : " + nombreEscenario +"</button>"+
			"<div id=" + '"' + "collapse"+ nombreEscenario + '"' + "class=" +'"' + "panel-collapse collapse in" +'"' +">"+
				"<div class=" + '"' + "panel-body" + '"' +">"+ cultivo + "<br>" + cicloMostrar  + "<br>" + riego +	"<div>" + "<div>"+
			"<div>"+
		"<div>");
	};
	
	function escucharAgregarEscenario(){
		document.getElementById("agregarIdEscenario").addEventListener("click", agregarEscenario);
		//document.getElementById("agregarIdEscenario").addEventListener("click", agregarEscenarioNav);		
	};
	
	function cerrar(){ 
		$("#carga").animate({"opacity":"0"},1000,function(){$("#carga").css("display","none");}); 
	} 
	
	function ejecutarSimulacion(){
		
		if (agregarEscenario()){		
			cerrar();		
			document.getElementById('ejecutarDSSAT').submit();			
		}				
	};
	
	function checkSoja(){
		document.getElementById("nombreCultivo").checked = true;
		cargarComboBoxDetalle(document.getElementById("nombreCultivo"));		
	};
	
	function esCargarEscenario(){
		var get = window.location.search.replace("?", "");
		getListParametros = get.split("&");
		nEscenarioCookie = getListParametros[0].split("=")[1];
		if (nEscenarioCookie){		
			cargarOtrosEscenarios(nEscenarioCookie);
			cargarEscenarioCookie(nEscenarioCookie);			
		};
	};
	
	function cargarEscenarioCookie(nEscenario){
		var co = JSON.parse(getCookie('escenarios'));
		var escenariosCookie = co[nEscenario];
		var numeroEscenario = getCookie('numeroEscenario');
		
		//Estacion meteorologica
		var selectEstacion = document.getElementById("selectEstacion");
		setSelectedValue(selectEstacion, escenariosCookie.estMeteorologica);
		
		//Periodo simulacion
		var desdeAnioSimulacion = document.getElementById("desdeAnioSimulacion").value = escenariosCookie.fInicioSim;
		document.getElementById("desdeAnioSimulacion").setAttribute("readonly", true);
		var hastaAnioSimulacion = document.getElementById("hastaAnioSimulacion").value = escenariosCookie.fFinSim;
		document.getElementById("hastaAnioSimulacion").setAttribute("readonly", true);
		
		//Cultivo
		var nombreCultivo = document.getElementsByName("cultivo");
		cul = setRadioButton(nombreCultivo, escenariosCookie.cultivo);
		cargarComboBoxDetalle(nombreCultivo[cul]);
		
		//Detalles cultivos
		var detalleSuelo = document.getElementById("cmbDetalleSuelo");
		
		setSelectedValue(detalleSuelo, escenariosCookie.cultivoTSuelo);		
		setSelectedValue(document.getElementById("cmbDetalleCultivar"), escenariosCookie.cultivoTCultivar);
		setSelectedValue(document.getElementById("cmbDetalleH20"), escenariosCookie.cultivoNHumedad);
		setSelectedValue(document.getElementById("cmbDetalleNO3"), escenariosCookie.cultivoNO3);

		//VER LA FECHA!!!!!!!!
		document.getElementsByName("fechaSiembra")[0].value = escenariosCookie.cultivoFSiembra;						
		
		// Fertilizacion a la siembra	
		var fs;
		if (escenariosCookie.fertilizacionSiembraDias === ""){
			document.getElementsByName("fertilizacion")[1].checked = true;			
			fs = 1; 
		}else{
			document.getElementsByName("fertilizacion")[0].checked = true;
			document.getElementById("diasDespuesSiembraI").value = escenariosCookie.fertilizacionSiembraDias;
			document.getElementById("cantidadFertilizanteI").value = escenariosCookie.fertilizacionSiembraCantidad;			
			fs = 0;
		};
		OnChangeRadioFertilizacion (document.getElementsByName("fertilizacion")[fs]);
		
		// Fertilizacion luego de la siembra
		var fls;
		if (escenariosCookie.fertilizacion1Dias === ""){
			fls = 2;
			document.getElementsByName("fertilizacionO")[2].checked = true;			
		}else{
			document.getElementById("diasDespuesSiembraAp1I").value = escenariosCookie.fertilizacion1Dias;
			document.getElementById("cantidadFertilizanteAp1I").value = escenariosCookie.fertilizacion1Cantidad;
			if (escenariosCookie.fertilizacion2Dias === ""){
				document.getElementsByName("fertilizacionO")[0].checked = true;
				fls = 0;					
			}else{
				document.getElementsByName("fertilizacionO")[1].checked = true;
				fls = 1;
				document.getElementById("diasDespuesSiembraAp2I").value = escenariosCookie.fertilizacion2Dias;
				document.getElementById("cantidadFertilizanteAp2I").value = escenariosCookie.fertilizacion2Cantidad;
			};
		};
		OnChangeRadioFertilizacionOtras (document.getElementsByName("fertilizacionO")[fls]);
		
		//Riego
		var riego = document.getElementsByName("riego");
		setRadioButton(riego, escenariosCookie.riego);
		
		document.getElementById("inNombreEscenario").value = escenariosCookie.nombre;		
	};
	
	function cargarOtrosEscenarios(menosEscenario){		
		var co = JSON.parse(getCookie('escenarios'));		
		for(var j=0;j<co.length;j++){			
			if (j != menosEscenario){				
				cargarEscenarioCookie(j);				
				agregarEscenario();				
			}
		};		
	};
	
	function getCookie(c_name) {
    if (document.cookie.length > 0) {
        c_start = document.cookie.indexOf(c_name + "=");
        if (c_start != -1) {
            c_start = c_start + c_name.length + 1;
            c_end = document.cookie.indexOf(";", c_start);
            if (c_end == -1) {
                c_end = document.cookie.length;
            }
            return unescape(document.cookie.substring(c_start, c_end));
        }
    }
    return "";
	};

	function setSelectedValue(selectObj, valueToSet) {
		for (var i = 0; i < selectObj.options.length; i++) {
			if (selectObj.options[i].value== valueToSet) {
				selectObj.options[i].selected = true;
				return;
			}
		}
	};
	
	function setRadioButton(radioObj, valueToSet){
		for (var i = 0; i < radioObj.length; i++) {
			if (radioObj[i].value== valueToSet) {
				radioObj[i].checked = true;
				return i;
			}
		}
	};
		
			
		
</script>



<div class="container">	

	<div class="page-header row">		
		<div class="col-xs-3"> 
			<img src="/static/img/logoSNIA.png" class="img-responsive">
		</div>		
		<div class="col-xs-6 text-center">
			<h2 style="color: #848688;"> Simulador de Cultivo </h2>
		</div>			
		<div class="col-xs-2 col-xs-offset-1">
			<ul class="nav">
				<li><a style="color: #848688; font-size: 16px;" href="http://snia.gub.uy/contacto-5/contacto-72?,,mnu-e-55-3-mnu-" target="_blank"><span class="glyphicon glyphicon-envelope"></span>Contacto</a></li>
			</ul>
		</div>			   
	</div>		

	<div id= "msgErrores" class=""></div>
	
	<div class="row" id ="inicial">	
		<p>Una buena planificación de la producción de cultivos anuales requiere la consideración de posibles escenarios. </p>
		<p>La herramienta UY-SAT, utiliza un enfoque de “Sistemas de Información y Soporte para la Toma de Decisiones” y los modelos utilizados son incluidos en el paquete DSSAT (Decision Support System for Agrotechnology Transfer). La metodología fue desarrollada por el IRI (International Research Institute for Climate and Society / Columbia University) y la implementación por el SNIA (Sistema Nacional de Información Agropecuaria).
		La finalidad de esta herramienta es ser un soporte para la toma de decisiones del productor o técnico asesor, que facilite la definición de estrategias productivas óptimas, el estudio de riesgos de adopción de tecnologías, evaluación de efectos a largo plazo, considerando tanto factores en forma individual como la interacción de varios factores.</p>
		<p>A continuación deberá ingresar una serie de variables necesarias para llevar a cabo la simulación.</p>

	</div>	
	<div class="paddingBottom">
		<div class="row">
			<h3> Clima </h3>		
		</div>
		<div class="row" id='estacionMeteorologica'>
			<div id='comboEstacionMeteorologica'>
				<div class="col-xs-4">
					<label for="selectEstacion"> Estación Meteorológica: </label>
				</div>
				
					<select class="col-xs-4" name="estacion" id="selectEstacion" onchange="changeEstacion()">
						{% for estacion in estaciones %}
							<option value="{{ estacion.valor }}">{{ estacion.etiqueta }}</option>							
						{% endfor %}			  
					</select>					
				
			</div>
			<div id='aniosEstacionMeteorologica'>			
				<div class="col-xs-1">
					<label for="desdeAnio">Desde:</label>
				</div>
				<div class="col-xs-1">
					<input type="text" name="desdeAnio" value="" id= "desdeAnio" readonly="readonly" style="border:none; width:50px; background:transparent">
				</div>						
				<div class="col-xs-1">
					<label for="hastaAnio">Hasta: </label>
				</div>
				<div class="col-xs-1">
					<input type="text" name="hastaAnio" value="" id= "hastaAnio" readonly="readonly" style="border:none; width:50px; background:transparent">
				</div>			
			</div>
		</div>		
		
		<div class="row">
			<h4>Periodo de Simulaci&oacute;n : </h4>
		</div>			
		<div id="periodoAnioSimulacion">
			<div class = "row" id="anioDesdeS"> 
				<label for="desdeAnioSimulacion" class="col-xs-4">A&ntilde;o inicial:</label>
				<input type="number" class="col-xs-8 alturaInput" name="desdeAnioSimulacion" id= "desdeAnioSimulacion" required>
				<span  id= "desdeAnioSimulacionS" aria-hidden="true"></span>
				<p id="errorAnioDesde" class = "control-label has-error" class="col-xs-6"></p>
			</div> 
			<div class = "row" id="anioHastaS"> 
				<label for="hastaAnioSimulacion" class="col-xs-4">A&ntilde;o final:</label>
				<input type="number" class="col-xs-8 alturaInput" name="hastaAnioSimulacion" id= "hastaAnioSimulacion" required>
				<span  id= "hastaAnioSimulacionS" aria-hidden="true"></span>
				<p id="errorAnioHasta" class = "control-label has-error" class="col-xs-6"></p>	
			</div>	
		</div>
	</div>
	
	<div class="paddingBottom" id='cultivo'>
		<div class="row">
			<h3> Cultivo </h3>
		</div>
		<div class = "row" id='rdCultivo'>			
			{% for cultivo in cultivos %}
				<label class="radio-inline"><input id="nombreCultivo" type="radio" name="cultivo" value="{{ cultivo.value }}" onchange="cargarComboBoxDetalle (this)">{{ cultivo.nombre }}</label>
			{% endfor %}			
		</div>
			
		<div id = "detalleCultivo">
			<div class="row">
				<h4> Detalles de cultivo</h4>
			</div>
			<div id="tipoSuelo" class="row"> 
				<label for="cmbDetalleSuelo" class="col-xs-4">Tipo de suelo: </label>
				<select name="tipoSuelo" id="cmbDetalleSuelo" class="col-xs-8"> </select>
			</div>

			<div id="tipoCultivar" class="row"> 
				<label for="cmbDetalleCultivar" class="col-xs-4">Tipo de cultivar:</label>
				<select name="tipoCultivar" id="cmbDetalleCultivar" class="col-xs-8">	</select>
			</div>

			<div id="nivelHumedad" class="row"> 
				<label for="cmbDetalleH20" class="col-xs-4">Nivel de humedad: </label>
				<select name="nivelHumedad" id="cmbDetalleH20" class="col-xs-8"> </select>
			</div>

			<div id="NO3inicial" class="row"> 
				<label for="cmbDetalleNO3" class="col-xs-4">Nivel de NO3: </label>
				<select name="no3Inicial" id="cmbDetalleNO3" class="col-xs-8"> </select>
			</div>

			<div id="fechaSiembra" class="row"> 
				<label for="datetimepicker4" class="col-xs-4">Fecha de siembra: </label>
				<div id="datetimepicker4" class="col-xs-8 input-append">
					<input data-format="yyyy-MM-dd" type="text" name="fechaSiembra" class= "form-control alturaInput" required></input>
					<span class="add-on form-control" style="height:30px;">
					<i data-time-icon="icon-time" data-date-icon="icon-calendar" > </i>
					</span>
				</div>
			</div>	
		</div>		
	</div>	
	<div class="paddingBottom">
		<div class="row">		
			<h3> Aplicaci&oacute;n de fertilizante nitrogenado </h3>
		</div>
		<!--Fertilización a la siembra -->
		<div id='AplicacionFertilizacionSiembra'>	
			<div class="row">			
				<h4> Fertilizaci&oacute;n a la siembra: </h4>
			</div>
			<div class = "row" id="rbFertilizacion">					
				<label class="radio-inline"><input id="fertiliza" type="radio" name="fertilizacion" class = "radio-inline" value="1" onchange="OnChangeRadioFertilizacion (this)" checked="checked">Fertiliza</label>
				<label class="radio-inline"><input id="noFertiliza" type="radio" name="fertilizacion" class = "radio-inline" value="0" onchange="OnChangeRadioFertilizacion (this)">No Fertiliza</label>
			</div>	
			<div id= "fertilizacionSiembra">
				<div id= "diasDespuesSiembra">				
					<div class="row" id="diasDespuesSiembraD"> 
						<label class ="col-xs-4" for="diasDespuesSiembraI"> D&iacute;as despues de Siembra:</label>
						<input class = "col-xs-8 alturaInput" type="text" name="diasDespuesSiembra" id= "diasDespuesSiembraI">
						<span  id= "diasDespuesSiembraS" aria-hidden="true" class=""></span>
						<p id="errordiasDespuesSiembra" class = "control-label has-error"></p>	
					</div>	
					<div id= "cantidadFertilizante">
						<div class="row" id="cantidadFertilizanteD"> 
							<label class ="col-xs-4"  for="cantidadFertilizanteI"> Cantidad (N, Kg/Ha):</label>
							<input class ="col-xs-8 alturaInput"  type="text" class="form-control" name="cantidadFertilizante" id= "cantidadFertilizanteI">
							<span  id= "cantidadFertilizanteS" aria-hidden="true" class=""></span>
							<p id="errorCantidadFertilizante" class = "control-label has-error"></p>	
						</div>	
					</div>
				</div>	
			</div>
			<!--<div id='fertilizacionTipo'>
				Tipo Fertilización: 
				<select id="cmbFertilizacionTipo" class= "form-control">	</select>
			</div>-->
			<!--<div id='fertilizacionAplicacion'>	
				Aplicación Fertilización: 
				<select id="cmbFertilizacionAplicacion" class= "form-control">	</select>
			</div>-->
		</div>				
		<!--Otras Fertilizaciones -->
		<div id='fertilizacionOtras'>	
			<div class="row">	
				<h4> Fertilizante después de siembra: </h4>
			</div>
			<div id="rbFertilizacionOtras">	
				<div class="row radio">
					<label><input id="fertiliza1" type="radio" name="fertilizacionO" value="1" onchange="OnChangeRadioFertilizacionOtras (this)">Una aplicación</label>
				</div>
				<div class="row radio">
					<label><input id="fertiliza2" type="radio" name="fertilizacionO" value="2" onchange="OnChangeRadioFertilizacionOtras (this)" checked="checked">Dos aplicaciones</label>
				</div>
				<div class="row radio">
					<label><input id="noFertilizaO" type="radio" name="fertilizacionO" value="0" onchange="OnChangeRadioFertilizacionOtras (this)">No fertiliza</label>
				</div>								
			</div>	

			<div id= "fertilizacionOtrasAplicaciones" >
				<div class="row">	
					<h4> Primera aplicación: </h4>			
				</div>	
				<div id= "fertilizacionOtrasAplicaciones1">
					<div class="row" id="diasDespuesSiembraAp1D"> 
						<label class="col-xs-4" for="diasDespuesSiembraAp1I"> D&iacute;as despues de Siembra:</label>
						<input class="col-xs-8 alturaInput" type="text" class="form-control" name="diasDespuesSiembra" id= "diasDespuesSiembraAp1I">
						<span  id= "diasDespuesSiembraAp1S" aria-hidden="true" class=""></span>
						<p id="errordiasDespuesSiembraAp1" class = "control-label has-error"></p>	
					</div>	
					<div id= "cantidadFertilizanteAp1">
						<div class="row" id="cantidadFertilizanteAp1D"> 
							<label class="col-xs-4" for="cantidadFertilizanteAp1I"> Cantidad (N, Kg/Ha):</label>
							<input class="col-xs-8 alturaInput" type="text" class="form-control" name="cantidadFertilizante" id= "cantidadFertilizanteAp1I">
							<span  id= "cantidadFertilizanteAp1S" aria-hidden="true" class=""></span>
							<p id="errorCantidadFertilizanteAp1" class = "control-label has-error"></p>	
						</div>	
					</div>
				</div>
				<div id= "fertilizacionOtrasAplicaciones2">
					<div class="row">	
						<h4> Segunda aplicación: </h4>			
					</div>	
					<div class="row" id="diasDespuesSiembraAp2D"> 
						<label class="col-xs-4" for="diasDespuesSiembraAp2I"> D&iacute;as despues de Siembra:</label>
						<input class="col-xs-8 alturaInput" type="text" class="form-control" name="diasDespuesSiembra" id= "diasDespuesSiembraAp2I">
						<span  id= "diasDespuesSiembraAp2S" aria-hidden="true" class=""></span>
						<p id="errordiasDespuesSiembraAp2" class = "control-label has-error"></p>	
					</div>	
					<div id="cantidadFertilizanteAp2">
						<div class="row" id="cantidadFertilizanteAp2D"> 
							<label class="col-xs-4" for="cantidadFertilizanteAp2I"> Cantidad (N, Kg/Ha):</label>
							<input class="col-xs-8 alturaInput" type="text" class="form-control" name="cantidadFertilizante" id= "cantidadFertilizanteAp2I">
							<span  id= "cantidadFertilizanteAp2S" aria-hidden="true" class=""></span>
							<p id="errorCantidadFertilizanteAp2" class = "control-label has-error"></p>	
						</div>	
					</div>
				</div>
			</div>
		</div>		
	</div>					
	<div class="paddingBottom">
		<div id='riego'>
			<div class="row">
				<h3> Riego </h3>			
			</div>
			<div class="row" id="rbRiego">				
				<label class="radio-inline"><input type="radio" name="riego" class = "radio-inline" value="1" checked="checked">Automático cuando se requiera</label>
				<label class="radio-inline"><input type="radio" name="riego" class = "radio-inline" value="0" >No Riego</label>
			</div>				
			<!--
			<div id='detalleRiego'>
				Método de riego: <select  name ="metodoRiego" id="cmbDetalleRiego" class= "form-control">	</select>
			</div>
			-->
		</div>
		
	</div>	
	<div class="paddingBottom">
		<div class="row">
			<h3> Escenario </h3>
		</div>
		<div class="row" id='escenario'>
			<label for="nombreEscenario" class="col-xs-4"> <b> Nombre Escenario: </b> </label>
			<input type="text" name="nombreEscenario" class="col-xs-8 alturaInput" id= "inNombreEscenario">
			<p class="text-center"> Recomendación: escenario no tenga m&aacute;s de 8 caracteres</p>
		</div>		
	</div>
	<div class="row ocultar" id="navEscenarios"> 
		<h3> Escenarios agregados</h3>			 
		<div class="panel-group panelEscenarios row" id="accordion">
		</div>
	</div>	
	<form id="ejecutarDSSAT" action="btnDSSAT">	
		<div class="row ocultar">
			<div class="panel panel-default">
				<!-- Default panel contents -->
				<div class="panel-heading">Escenarios</div>
					<!-- Table -->
					<table class="table" id="tablaEscenarios">
						<thead>
							<tr>
								<th>Est.Meteorológica</th>
								<th>FInicioSim</th>
								<th>FFinSim</th>								
								<th>Cultivo</th>
								<th>CultivoTSuelo</th>
								<th>CultivoTCultivar</th>
								<th>CultivoNHumedad</th>
								<th>CultivoNO3</th>
								<th>CultivoFSiembra</th>																
								<th>FertilizacionSiembraDias</th>
								<th>FertilizacionSiembraCantidad</th>
								<th>Fertilizacion1Dias</th>
								<th>Fertilizacion1Cantidad</th>
								<th>Fertilizacion2Dias</th>
								<th>Fertilizacion2Cantidad</th>								
								<th>Riego</th>								
								<th>NombreEscenario</th>
							</tr>
						</thead>
					</table>
			</div>
		</div>	
		<div class="row margenTop">
			<div class="col-xs-6">
				<input type='button' name="DSSAT" value="Simular" class="btn btn-success" style="width:50%; margin:0px auto; display:block;" onclick="ejecutarSimulacion()">
			</div>	
			<div class="col-xs-6">
				<input type="button" id="agregarIdEscenario" value ="Agregar nuevo Escenario" name="agregarEscenario" class="btn btn-success" style="width:50%; margin:0px auto; display:block;" onclick="btnAgregarEscenario()">
			</div>
		</div>		
	   <div class="modal fade" id="myModal" style="-webkit-box-shadow: 0 3px 7px transparent; background: transparent; border: 1px solid transparent;">
		  <div class="modal-dialog  modal-sm">
			<div class="modal-content">
			  <div class="modal-header">
				<!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
				<!--<h4 class="modal-title" id="modal-title">Título del modal</h4>-->
			  </div>
			  <div class="modal-body" id="modal-body">
				 <p>¿Desea conservar los datos ingresados para el próximo escenario? </p>
			  </div>
			  <div class="modal-footer">
				<button type="button" id="btnNoGuardaDatos" class="btn btn-default" onclick="vaciarForm();" data-dismiss="modal">No</button>
				<button type="button" id="btnSiGuardaDatos" class="btn btn-primary" onclick="borrarNombreEscenario();" data-dismiss="modal">Si</button>
			  </div>
			</div>
			<!-- /.modal-content -->
		  </div>
		  <!-- /.modal-dialog -->
		</div>
	</form>
	<div class="row">	
	<div>
	<div id="footer" >
		<hr>
		<p class="muted credit " >
			Hoogenboom, G., J.W. Jones, P.W. Wilkens, C.H. Porter, K.J. Boote, L.A. Hunt, U. Singh, J.L. Lizaso, J.W. White, O. Uryasev, F.S. Royce, R. Ogoshi, A.J. Gijsman, G.Y. Tsuji, and J. Koo. 2012. 
			Decision Support System for Agrotechnology Transfer (DSSAT) Version 4.5.X.X (Replace X.X with sub-version numbers in your output files) [CD?ROM]. University of Hawaii, Honolulu, Hawaii.
			Jones, J.W., G. Hoogenboom, C.H. Porter, K.J. Boote, W.D. Batchelor, L.A. Hunt, P.W. Wilkens, U. Singh, A.J. Gijsman, and J.T. Ritchie. 2003. DSSAT Cropping System Model. European Journal of Agronomy 18:235-265.
		</p>
	
	</div>	
</div>
<script>		
	cargarEstaciones();
	changeEstacion();
	cargarDetallesCultivos();
	escucharAgregarEscenario();
	checkSoja();
	esCargarEscenario();
	//cargarRiego();
	//cargarTipoFertilizantes();
	//cargarAplicacionFertilizantes();
</script>	
</body>
</html>
