{% load staticfiles %}
<html>
<head>	
	<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Modelo de Simulación de Cultivos </title>
	
	<!--JQuery-->	
	<script src="{% static 'lib/jquery-3.1.0/jquery-3.1.0.min.js' %}"></script>
	
	<!--Boostrap-->
	<link rel="stylesheet" href="{% static 'lib/bootstrap-3.3.7/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'lib/bootstrap-3.3.7/css/bootstrap-theme.min.css' %}">	
	<script src="{% static 'lib/bootstrap-3.3.7/js/bootstrap.min.js' %}"></script>
	
	<!--Simulacion-->
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<script type="text/javascript" src="{% static 'js/scriptEstilos.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/cargarDatos.js' %}"></script>
	
	<!--Pasar estos si se usan local-->
	<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="http://tarruda.github.com/bootstrap-datetimepicker/assets/css/bootstrap-datetimepicker.min.css">	
	<script type="text/javascript" src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.min.js"> </script>
	<script type="text/javascript" src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.pt-BR.js">  </script>
	<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js">  </script>
		
	<script>	 
	//valida precio del grano 
 	/*$(function() {
		$('#precioGranoEscenario').change(function () {   
			if((parseInt($('#precioGranoEscenario').val()) < 0) || (parseInt($('#precioGranoEscenario').val()) > 1000)){
					document.getElementById("precioGranoEscenarioD").className = "form-group has-error has-feedback";
					document.getElementById("errorPrecioGrano").innerHTML = 'Incorrecto';
					document.getElementById("precioGranoS").className = "glyphicon glyphicon-remove form-control-feedback";
			}else{				
				document.getElementById("precioGranoEscenarioD").className = "form-group has-success has-feedback";
				document.getElementById("errorPrecioGrano").innerHTML = ' ';				
				document.getElementById("precioGranoS").className = "glyphicon glyphicon-ok form-control-feedback";
			}			
		});
	});
	//valida precio del fertilizante 
 	$(function() {
		$('#precioFertilizanteEscenario').change(function () {   
			if((parseInt($('#precioFertilizanteEscenario').val()) < 1) || (parseInt($('#precioFertilizanteEscenario').val()) > 2)){
					document.getElementById("precioFertilizanteEscenarioD").className = "form-group has-error has-feedback";
					document.getElementById("errorprecioFertilizanteEscenario").innerHTML = 'Incorrecto';
					document.getElementById("precioFertilizanteEscenarioS").className = "glyphicon glyphicon-remove form-control-feedback";
			}else{				
				document.getElementById("precioFertilizanteEscenarioD").className = "form-group has-success has-feedback";
				document.getElementById("errorprecioFertilizanteEscenario").innerHTML = ' ';				
				document.getElementById("precioFertilizanteEscenarioS").className = "glyphicon glyphicon-ok form-control-feedback";
			}			
		});
	});
	//valida costo del riego
 	$(function() {
		$('#costeRiegoEscenario').change(function () {   
			if((parseInt($('#costeRiegoEscenario').val()) < 1) || (parseInt($('#costeRiegoEscenario').val()) > 3)){
					document.getElementById("costeRiegoEscenarioD").className = "form-group has-error has-feedback";
					document.getElementById("errorCosteRiegoEscenario").innerHTML = 'Incorrecto';
					document.getElementById("costeRiegoEscenarioS").className = "glyphicon glyphicon-remove form-control-feedback";
			}else{				
				document.getElementById("costeRiegoEscenarioD").className = "form-group has-success has-feedback";
				document.getElementById("errorCosteRiegoEscenario").innerHTML = ' ';				
				document.getElementById("costeRiegoEscenarioS").className = "glyphicon glyphicon-ok form-control-feedback";
			}			
		});
	});
	
	//valida gastos generales
 	$(function() {
		$('#gastosGeneralesEscenario').change(function () {   
			if((parseInt($('#gastosGeneralesEscenario').val()) < 300) || (parseInt($('#gastosGeneralesEscenario').val()) > 1000)){
					document.getElementById("gastosGeneralesEscenarioD").className = "form-group has-error has-feedback";
					document.getElementById("errorGastosGeneralesEscenario").innerHTML = 'Incorrecto';
					document.getElementById("gastosGeneralesEscenarioS").className = "glyphicon glyphicon-remove form-control-feedback";
			}else{				
				document.getElementById("gastosGeneralesEscenarioD").className = "form-group has-success has-feedback";
				document.getElementById("errorGastosGeneralesEscenario").innerHTML = ' ';				
				document.getElementById("gastosGeneralesEscenarioS").className = "glyphicon glyphicon-ok form-control-feedback";
			}			
		});
	});*/
	
	</script>
	<script>
		
		var escenarios = [];						
		
		//listMean,listMediana,listWhiskersMenor,listWhiskersMayor,listBase,listMayor
		
		function cargarDatos(){			
			count = 0;
			datosNumericos = {{ resultPlot }};
			{% for nomE in nombreEscenarios %}
				escenario = {
					nombre: "{{ nomE }}",
					promedio: datosNumericos[0][count],
					mediana: datosNumericos[1][count],
					whiskMenor: datosNumericos[2][count],
					whiskMayor: datosNumericos[3][count],
					base: datosNumericos[4][count], 
					mayor: datosNumericos[5][count]
				};		
				escenarios.push(escenario);
				count = count + 1;
			{% endfor %}
		};
		
		function cargarParrafos(){										
			for (i = 0; i < escenarios.length; i++) { 						
				var para = document.createElement("P");
				var texto = "Con el escenario " + escenarios[i].nombre +" el promedio de rendimientos es de " + escenarios[i].promedio + "Kg/ha y la mediana se ubica en " + escenarios[i].mediana + "Kg/ha. El 50% de los resultados se ubican entre "+escenarios[i].whiskMenor+" y "+escenarios[i].whiskMayor+"Kg/ha, lo que refleja la variabilidad del escenario "+escenarios[i].nombre+". Rendimientos por encima de "+escenarios[i].mayor+"Kg/ha se obtienen en el 5% de los casos, es decir una vez cada 20 años y de igual modo se dan los rendimientos por debajo de "+escenarios[i].base+"Kg/ha."			
				var t = document.createTextNode(texto);       
				para.appendChild(t);                                          
				document.getElementById("datosBoxplot").appendChild(para);                          			
			}					
		};
	</script>
</head>
<body>

	<div class="container">	
		<div class="page-header row">		
			<div class="col-xs-3"> 
				<img src="/static/img/logoSNIA.png" class="logo img-responsive">
			</div>		
			<div class="col-xs-6 text-center">
				<h2 style="color: #848688;"> Simulador de Cultivo </h2>
			</div>			
			<div class="col-xs-2 col-xs-offset-1">
				<ul class="nav">
					<li><a style="color: #848688;" href="http://snia.gub.uy/contacto-5/contacto-72?,,mnu-e-55-3-mnu-" target="_blank"><span class="glyphicon glyphicon-envelope"></span> Contacto</a></li>
				</ul>
			</div>			   
		</div>	
		<div class="paddingBottom">
			<div class="row paddingBottom">
				<div class="col-sm-6">
					<img class="img-responsive center-block" src="{{MEDIA_ROOT}}/{{dir}}/boxplot.png" alt="Rendimientos esperados (Boxplot)">
				</div>
				<div class="col-sm-6" id = "datosBoxplot">				
				</div>
			</div>	
			<div class="row">
				<div class="col-sm-6">
					<img class="img-responsive center-block" src="{{MEDIA_ROOT}}/{{dir}}/curvaPExcedencia.png" alt="Rendimientos esperados (Curva de probabilidad de exedencia)">
				</div>
				<div class="col-sm-6">					
					<p>Este gráfico permite estimar la probabilidad de superar un determinado valor de rendimiento para diferentes escenarios.</p>
				</div>
			</div>
		</div>

		<form action="margenBruto">
			<input type="text" value="{{dir}}" name="dirEscenario" style="display:none">
			
			{% for anioE in aniosEscenarios %}
			<div id='aniosEscenario' style="display:none">
				<label for="aEscenario"> <b> Cantidad a&ntilde;os escenarios: </b> </label>
				<input type="text" name="aEscenario" class="form-control" id= "inAnioEscenario" value="{{ anioE }}" style="display:none">
			</div>
			{% endfor %}
			
			<div>				
				<div class="row">				
					<h4>Escenarios</h4>
				</div>
				
				<div class="row">				
					<div class="col-sm-4">
						<label for="nombreEscenario"> <b> Nombre escenario: </b> </label>						
					</div>						
					<div class="col-sm-2">
						<label for="precioGranoEscenario">Precio del grano (U$S/ton):</label>												
					</div>
					<div class="col-sm-2">
						<label for="precioFertilizanteEscenario">Precio del fertilizante (U$S/kg N):</label>						
					</div>					
					<div class="col-sm-2">
						<label for="costeRiegoEscenario">Costo del riego (U$S/mm):</label>						
					</div>
					<div class="col-sm-2">
						<label for="gastosGeneralesEscenario">Gastos generales (U$S/ha):</label>						
					</div>									
				</div>				
				
				{% for nEscenario in nombreEscenarios %}
				<div class="row">				
					<div id='escenario' class="col-sm-4">						
						<input type="text" name="nombreEscenario" class="form-control" readonly="readonly" id= "inNombreEscenario" value="{{ nEscenario }}">
					</div>						
					<div class="col-sm-2" id='precioGranoEscenarioD'>						
						<input type="text" name="precioGranoEscenario" id= "precioGranoEscenario" class="form-control">
						<!--<span  id= "precioGranoS" aria-hidden="true"></span>
						<p id="errorPrecioGrano" class = "control-label has-error"></p>	-->
					</div>
					<div class="col-sm-2" id='precioFertilizanteEscenarioD'>						
						<input type="text" name="precioFertilizanteEscenario" id= "precioFertilizanteEscenario" class="form-control">
						<!--<span  id= "precioFertilizanteEscenarioS" aria-hidden="true"></span>
						<p id="errorprecioFertilizanteEscenario" class = "control-label has-error"></p>	-->
					</div>					
					<div class="col-sm-2" id='costeRiegoEscenarioD'>						
						<input type="text" name="costeRiegoEscenario" id= "costeRiegoEscenario" class="form-control">
						<!--<span  id= "costeRiegoEscenarioS" aria-hidden="true"></span>
						<p id="errorCosteRiegoEscenario" class = "control-label has-error"></p>	-->
					</div>
					<div class="col-sm-2" id='gastosGeneralesEscenarioD'>						
						<input type="text" name="gastosGeneralesEscenario" id= "gastosGeneralesEscenario" class="form-control">
						<!--<span  id= "gastosGeneralesEscenarioS" aria-hidden="true"></span>
						<p id="errorGastosGeneralesEscenario" class = "control-label has-error"></p>	-->
					</div>									
				</div>
				{% endfor %}
				<div class="row margenTop">									
					<input class="form-control primary" style="width:50%;margin:0px auto; display:block;" type='submit' name="margenBruto" value="Graficar margen bruto">
				</div>
			</div>
		</form>
	</div>
	<script>
		cargarDatos();
		cargarParrafos();
	</script>
</body>
</html>