body{
	font-size: calc(0.5em + 0.5vw) !important;	
}

h3{
	font-size: calc(0.8em + 0.8vw) !important;	
	font-family: inherit;
	font-weight: bold;    	
	color: inherit;
	text-rendering: optimizelegibility;
}

h4{
	font-size: calc(0.7em + 0.7vw) !important;	
	font-family: inherit;
	font-weight: bold;    	
	color: inherit;
	text-rendering: optimizelegibility;
}

table{
	font-size: calc(0.6em + 0.6vw);
	line-height: calc(1.2em + 1vw);	
}

label{
	font-size: calc(0.7em + 0.3vw) !important;	
}	

.btn{
	font-size: calc(0.6em + 0.6vw) !important;
	line-height: calc(1.2em + 1vw) !important;		
}

.paddingBottom{
	padding-bottom:1%;
}

.ocultar{
	display:none;
}

.margenTop{
	margin-top:15px;
}

.alturaInput{
	height: 30px !important;
}

#datetimepicker4{
	margin-left:-15px;
}

.panel-group .panel+.panel {
    margin-top: 0px;
}

.panel-default>.panel-heading {
    background-image: -webkit-linear-gradient(top,#fff 0,#fff 100%); 
    background-image: -o-linear-gradient(top,#fff 0,#fff 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#fff)); 
    background-image: linear-gradient(to bottom,#fff 0,#fff 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#fff', GradientType=0);
    background-repeat: repeat-x;
}

.cienAncho{
	width:100%;
}

.modal {
    position: fixed;
    top: 10%;
    left: 50%;
    z-index: 1050;
    width: 560px;
    margin-left: -280px;
    background-color: transparent; 
    border: 0px solid transparent; 
    border: 0px solid transparent; 
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    outline: 0;
     -webkit-box-shadow: 0 0px 0px transparent; 
    -moz-box-shadow: 0 3px 7px rgba(0,0,0,0.3);
    box-shadow: 0 0px 0px transparent;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
}


#footer {
	/*background-color: #F0F0F0 ;*/	
}

.texto_chico{
	font-size:10px;
	text-align : justify;
}

.logo{
	height:7%;
}

/*Margen Bruto*/
.tabla_header{	
	font-size: 0.9em;
}


