.paddingBottom{
	padding-bottom:20px;
}

.ocultar{
	display:none;
}

.margenTop{
	margin-top:15px;
}

.alturaInput{
	height: 30px !important;
}

#datetimepicker4{
	margin-left:-15px;
}

.panel-group .panel+.panel {
    margin-top: 0px;
}

.panel-default>.panel-heading {
    background-image: -webkit-linear-gradient(top,#fff 0,#fff 100%); 
    background-image: -o-linear-gradient(top,#fff 0,#fff 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#fff)); 
    background-image: linear-gradient(to bottom,#fff 0,#fff 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#fff', GradientType=0);
    background-repeat: repeat-x;
}

.cienAncho{
	width:100%;
}

.modal {
    position: fixed;
    top: 10%;
    left: 50%;
    z-index: 1050;
    width: 560px;
    margin-left: -280px;
    background-color: transparent; 
    border: 0px solid transparent; 
    border: 0px solid transparent; 
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    outline: 0;
     -webkit-box-shadow: 0 0px 0px transparent; 
    -moz-box-shadow: 0 3px 7px rgba(0,0,0,0.3);
    box-shadow: 0 0px 0px transparent;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
}


#footer {
	/*background-color: #F0F0F0 ;*/
	margin-top: 10%;
}

.logo{
	height:7%;
}

/*.texto{
	width: 50px;	
	border: none;
}
.principal{
	float:center;
}

.detalleCultivo{
	display: none;	
}

.periodoSimulacion{
	border-top: 1px solid #ff9400;
	border-right: 1px solid #ff9400;
	border-bottom: 1px solid #ff9400;
	border-left: 1px solid #ff9400;
	padding: 10px 10px 10px 10px;
	float:left;
	width:556px;
	height:250px;
}

.estacionMeteorologica{
	float:left;
	width:550px;
	margin-right:30px;
	margin-top:18px;
	border-top: 1px solid #ff9400;
	border-right: 1px solid #ff9400;
	border-bottom: 1px solid #ff9400;
	border-left: 1px solid #ff9400;
	padding: 10px 10px 10px 10px;
}

.h1 {
	color: #FCA205;
	font-family: 'Lobster';
}

.body {
	padding-left: 15px;
}

.input:required:{
 
border: 1px solid red;
 
}

.cultivo{
	margin-top: 50px;
	border-top: 1px solid #ff9400;
	border-right: 1px solid #ff9400;
	border-bottom: 1px solid #ff9400;
	border-left: 1px solid #ff9400;
	padding: 10px 10px 10px 10px;
}

.aplicacionFertilizante{
	border-top: 1px solid #ff9400;
	border-right: 1px solid #ff9400;
	border-bottom: 1px solid #ff9400;
	border-left: 1px solid #ff9400;
	padding: 10px 10px 10px 10px;
}

.riego{
	border-top: 1px solid #ff9400;
	border-right: 1px solid #ff9400;
	border-bottom: 1px solid #ff9400;
	border-left: 1px solid #ff9400;
	padding: 10px 10px 10px 10px;
}

.aniosDisponiblesInput{
	
	border:none; 
	background:transparent;
}

.detalleFertilizacion{
	display:block;
	
}

.contacto{
	color: #848688;
}
.panelEscenarios{
	background-color: #ffffe6;
}
.panel-default>.panel-heading {
	background: #ffffe6;
}
.botonEscenario{
	background: white;
}

.paddingLeft{
	padding-left:3%;
}

*/