.paddingBottom{
	padding-bottom:20px;
}

.ocultar{
	display:none;
}

.margenTop{
	margin-top:15px;
}

.alturaInput{
	height: 30px !important;
}

#datetimepicker4{
	margin-left:-15px;
}

.panel-group .panel+.panel {
    margin-top: 0px;
}

/*.texto{
	width: 50px;	
	border: none;
}
.principal{
	float:center;
}

.detalleCultivo{
	display: none;	
}

.periodoSimulacion{
	border-top: 1px solid #ff9400;
	border-right: 1px solid #ff9400;
	border-bottom: 1px solid #ff9400;
	border-left: 1px solid #ff9400;
	padding: 10px 10px 10px 10px;
	float:left;
	width:556px;
	height:250px;
}

.estacionMeteorologica{
	float:left;
	width:550px;
	margin-right:30px;
	margin-top:18px;
	border-top: 1px solid #ff9400;
	border-right: 1px solid #ff9400;
	border-bottom: 1px solid #ff9400;
	border-left: 1px solid #ff9400;
	padding: 10px 10px 10px 10px;
}

.h1 {
	color: #FCA205;
	font-family: 'Lobster';
}

.body {
	padding-left: 15px;
}

.input:required:{
 
border: 1px solid red;
 
}

.cultivo{
	margin-top: 50px;
	border-top: 1px solid #ff9400;
	border-right: 1px solid #ff9400;
	border-bottom: 1px solid #ff9400;
	border-left: 1px solid #ff9400;
	padding: 10px 10px 10px 10px;
}

.aplicacionFertilizante{
	border-top: 1px solid #ff9400;
	border-right: 1px solid #ff9400;
	border-bottom: 1px solid #ff9400;
	border-left: 1px solid #ff9400;
	padding: 10px 10px 10px 10px;
}

.riego{
	border-top: 1px solid #ff9400;
	border-right: 1px solid #ff9400;
	border-bottom: 1px solid #ff9400;
	border-left: 1px solid #ff9400;
	padding: 10px 10px 10px 10px;
}

.aniosDisponiblesInput{
	
	border:none; 
	background:transparent;
}

.detalleFertilizacion{
	display:block;
	
}

.contacto{
	color: #848688;
}
.panelEscenarios{
	background-color: #ffffe6;
}
.panel-default>.panel-heading {
	background: #ffffe6;
}
.botonEscenario{
	background: white;
}

.paddingLeft{
	padding-left:3%;
}
.logo{
	height:7%;
}
*/